header {
  width: 85%;
  justify-self: center;
  display: grid;
}

.title {
  justify-self: center;
}

.search {
  justify-self: center;
  width: 80%;
  height: 30px;
  min-width: 300px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.20);
}